In [8]:
import sqlite3
from datetime import datetime
import pandas as pd
import os

In [4]:
HOME_PATH = os.getenv("HOME")
WORKSPACE_PATH = os.path.join(HOME_PATH, "workspace/rag_poc")
DB_PATH = os.path.join(WORKSPACE_PATH, "database")

In [18]:
conn = sqlite3.connect(DB_PATH+"/chatbot.db")

query = "SELECT * FROM conversations"
df = pd.read_sql_query(query, conn)
conn.close()

In [19]:
df

   id  user_id                  start_time end_time  status additional_info
0   1  user123  2025-02-10 15:19:41.261651     None  active            None
1   2  user123  2025-02-10 15:21:01.244555     None  active            None